/*Icon and Logo*/
.login-logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo-kn {
	width: 100px;
}

.menu__divider {
	background: rgb(255 255 255);
	height: 5px;
	width: calc(100% - 32px);
	margin: 0px 16px;
	box-sizing: border-box;
}

.statement-login {
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.font-logo-first {
	color: #fff;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	margin-left: 5px;
}

.font-logo-second {
	color: #fff;
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
}
/*Icon and Logo*/

/*Alert*/
.alert-danger {
	padding: 20px;
	background-color: #f44336;
	color: white;
	border-radius: 5px;
}

.closebtn {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

.closebtn:hover {
	color: black;
}
/*End Alert*/

/*Sweet Alert*/
.swal2-styled.swal2-confirm {
	border: 0;
	border-radius: 0.25em;
	background: #002766;
	background-color: #002766;
	color: #fff;
	font-size: 1.0625em;
}
/*End Sweet Alert*/

/*Navbar*/
.navbar-background {
	background: linear-gradient(45deg, #002766, #002766);
}

.text-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 5px;
}

.role-show {
	color: #fff;
	font-size: 10px;
	font-weight: 400;
	font-family: Poppins, sans-serif;
}

@media (max-width: 423.5px) {
	.role-show {
		font-size: 0px;
	}

	li.dropdown.notify {
		display: none;
	}

	li.dropdown.user {
		margin-left: -13px;
	}
}
/*End Navbar*/

/*For CT*/
.clock-ct {
	color: #fff;
	font-size: 10px;
	font-weight: 400;
	font-family: Poppins, sans-serif;
}

@media (max-width: 988px) {
	.clock-ct {
		font-size: 0px;
	}	
}
/*End For CT*/

/*Sidebar*/
#side-menu{
	height: 600px;
	overflow: auto;
}

@media (max-width: 767.5px) {
	#side-menu{
		height: 300px;
		overflow: auto;
	}
}

li.section {
	padding: 10px;
	background: #c6e4f5;
	display: flex;
	justify-content: left;
	align-items: center;
	font-size: 10px;
	font-weight: 700;
	color: #002766;
}

.line__footer {
	background: rgb(85 184 242);
	height: 3px;
	width: calc(100% - 32px);
	margin: 0px 16px;
	box-sizing: border-box;
	margin-top: 20px;
}

.footer-sidebar {
	margin-top: 0px;
	/*background: linear-gradient(45deg, #55b8f2, #0e2a55);*/
	/*color: #fff;*/
	padding: 15px;
}
/*End Sidebar*/

/*Color*/
.icon-white {
	color: #fff;
}
/*End Color*/

/*Icon Title Page*/
.icon-title {
	background: linear-gradient(45deg, #55b8f2, #55b8f2);
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	box-shadow: 0 0 12px rgb(85 184 242);
}
/*End Icon Title Page*/

/*Table*/
.table-responsive {
	overflow: auto;
}
/*End Table*/

/*Tooltip*/
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/*End Tooltip*/
